.filter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  .filter-container .filter-text {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px; }
  .filter-container .search-radius {
    padding-left: 7.5px;
    padding-right: 7.5px;
    display: flex;
    flex-direction: column; }
    .filter-container .search-radius .ui.selection.dropdown {
      min-width: 7rem; }
    .filter-container .search-radius .radius-title {
      padding-bottom: 0.5rem;
      font-size: 14px;
      color: #8e8f8f; }
