.profile-tab {
    .ui.menu {
        border: none;
        background: #15A9E1;
        a {
            color: #fff;
        }
        .item {
            &:hover {
                background: #15A9E1;
                color: #f5f7f8;
            }
        }
        .active.item {
            color: #0075bc;
            background: #f5f7f8;
            &:hover {
                color: #0075bc;
                background: #f5f7f8;
            }
        }
    }
    .ui.segment {
        background: #E8EEF0;
    }
    .ui.segment[class*="bottom attached"] {
        margin-top: -1rem;
        border: 0;
        border-radius: 0;
    }
}