.profile-tab {
  .ui.menu {
    border: none;
    background: #149fdd;
    a {
      color: #fff;
    }
    .item {
      &:hover {
        background: #149fdd;
        color: #f5f7f8;
      }
    }
    .active.item {
      color: #0075bc;
      background: #f5f7f8;
      &:hover {
        color: #0075bc;
        background: #f5f7f8;
      }
    }
  }
  .ui.segment[class*="bottom attached"] {
    margin-top: -1rem;
  }
}
