.profile-tabs-container {
    display: flex;
    .summary-left {
        flex-direction: column;
        width: 100%;
        .ui.table {
            border: none;
        }
        .background-fill {
            background: #fff;
            padding: 1rem;
        }
        .background-fill-next {
            background: #fff;
            padding: 1rem;
            margin-top: 1rem;
            padding-bottom: 2rem;
            img {
                width: 12rem;
                height: 12rem;
            }
            .practise-info {
                padding-left: 1rem;
                font-size: .9rem;
                li {
                    margin-top: 1rem;
                }
                span {
                    margin-left: 2rem;
                    margin-bottom: 1rem;
                }
            }
        }
        .ui.table thead th {
            background: #e8eef0;
            padding: 0.6rem;
            font-size: 0.9rem;
            font-family: Lato;
            font-weight: 900;
        }
        .ui.table thead tr:first-child>th:first-child {
            border-radius: 0;
        }
        .ui.table thead tr:first-child>th:last-child {
            border-radius: 0;
        }
        .ui.table tr td {
            font-size: 0.8rem;
            border-top: none;
            h5 {
                font-size: 0.8rem;
            }
        }
        .ui.table td {
            padding: 0.3rem;
        }
        a {
          cursor: pointer;
        }
    }
    .summary-right {
        flex-direction: column;
        margin-left: 1rem;
        width: 36%;
        .background-fill {
            background: #fff;
            padding: 1rem;
        }
        .background-fill-next {
            background: #fff;
            padding: 1rem;
            margin-top: 1rem;
            .ui.button {
                font-size: 1rem;
                width: 100%;
                padding: .7rem;
                color: #0089cb;
                background: #eaf2f7;
                &:hover {
                    background: #e5ebee;
                }
            }
        }
        h4 {
            font-size: 1rem;
            margin: 1.4rem 0 0.2rem 0;
            span {
                font-size: 0.8rem;
                font-weight: normal;
                margin-left: 0.2rem;
            }
        }
        .sub-h4 {
            font-size: 0.9rem;
        }
        span,
        li {
            font-size: 0.8rem;
        }
    }
    i {
        color: #15a9e1;
    }
}