.nav-bar {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  margin-bottom: 2rem;
  align-items: center; }
  .nav-bar .left-nav-section {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .nav-bar .left-nav-section .logo {
      height: 3rem;
      margin: auto; }
  .nav-bar .right-nav-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto; }
    .nav-bar .right-nav-section .menu {
      vertical-align: top;
      font-weight: 600;
      text-transform: uppercase;
      color: #fff;
      font-size: 1rem;
      letter-spacing: 0.5px;
      cursor: pointer !important; }
    .nav-bar .right-nav-section .menu_buttons {
      padding-left: 2rem;
      display: flex;
      align-items: center; }
      .nav-bar .right-nav-section .menu_buttons .menu_demo_btn .ui.button {
        border-radius: 1.5rem;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 0.5px;
        text-align: center;
        line-height: 1;
        background-color: #21dbf2;
        color: #fff; }
      .nav-bar .right-nav-section .menu_buttons .menu_login_btn {
        padding-left: 1.5rem; }
        .nav-bar .right-nav-section .menu_buttons .menu_login_btn .ui.basic.button {
          border-radius: 1.5rem;
          text-transform: uppercase;
          font-size: 1rem;
          font-weight: 400;
          letter-spacing: 0.5px;
          text-align: center;
          line-height: 1;
          color: #fff !important;
          border: 1.5px solid #fff; }
