.profile-match-container {
  width: 100%; }
  .profile-match-container .inner-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    margin: 0 auto;
    margin-top: 2.4rem; }
    .profile-match-container .inner-container p {
      color: #444444;
      font-size: 1.5rem; }
    .profile-match-container .inner-container div[role='profile-details'] {
      background: #fff;
      width: 421.9px;
      height: 393.7px;
      border-radius: 5px;
      background-color: #ffffff;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      margin-top: 2.4rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem; }
      .profile-match-container .inner-container div[role='profile-details'] div[role='info'] {
        margin-top: 2rem;
        width: 80%;
        font-size: 1.1rem; }
        .profile-match-container .inner-container div[role='profile-details'] div[role='info'] .spacer td {
          padding-bottom: 0.5rem; }
          .profile-match-container .inner-container div[role='profile-details'] div[role='info'] .spacer td:first-child {
            padding-right: 0.5rem; }
      .profile-match-container .inner-container div[role='profile-details'] img {
        background: #fff;
        border-radius: 50%;
        width: 10rem;
        height: 10rem;
        text-align: center;
        padding-top: 0.5rem; }
      .profile-match-container .inner-container div[role='profile-details'] .row-disp {
        display: flex; }
        .profile-match-container .inner-container div[role='profile-details'] .row-disp h5 {
          margin: 0; }
        .profile-match-container .inner-container div[role='profile-details'] .row-disp span {
          margin-left: 1.5rem; }
    .profile-match-container .inner-container .ui.button {
      width: 154.3px;
      height: 39.9px;
      font-weight: normal;
      border-radius: 30px;
      background-color: #2889d4;
      box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.16);
      color: #fff;
      cursor: pointer;
      margin-top: 2.4rem; }
