.container .header-container {
  width: 100%;
  height: 4.5rem;
  padding: 0rem 2rem 0rem 1rem;
  background-color: #ffffff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; }
  .container .header-container .ui.image {
    width: 12rem; }
  .container .header-container .ui.button {
    width: 7.5125rem;
    height: 2.45625rem;
    border-radius: 27px;
    background: #3897ec !important;
    color: #fff !important;
    font-size: 0.8rem;
    margin-right: 1rem; }

.container .inner-container {
  width: 100%;
  height: 100vh;
  display: flex; }
  .container .inner-container div[role='top'] {
    margin-top: -12rem; }
  .container .inner-container .containers {
    width: 50%;
    position: static;
    display: flex;
    justify-content: center; }
    .container .inner-container .containers__left {
      background: #f8f8f9;
      flex-direction: column;
      align-items: center;
      color: #444444; }
      .container .inner-container .containers__left i {
        font-size: 5rem;
        color: #3897ec; }
      .container .inner-container .containers__left div[role='header'] {
        text-align: center; }
        .container .inner-container .containers__left div[role='header'] h4 {
          font-size: 1.6rem;
          font-weight: 100; }
        .container .inner-container .containers__left div[role='header'] span {
          font-size: 1.6rem; }
      .container .inner-container .containers__left div[role='sub-header'] {
        margin-top: 1.6rem; }
        .container .inner-container .containers__left div[role='sub-header'] h5 {
          font-weight: 100; }
    .container .inner-container .containers__right {
      background: #fff;
      flex-direction: column;
      align-items: center; }
      .container .inner-container .containers__right .btn-display {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.5rem; }
        .container .inner-container .containers__right .btn-display span {
          margin-bottom: 1rem;
          font-size: 0.9rem; }
      .container .inner-container .containers__right .ui.input > input {
        width: 337.8px;
        height: 37.3px;
        border-radius: 4px;
        border: none;
        background: #f6f9fc !important; }
      .container .inner-container .containers__right .ui.search.dropdown {
        min-width: 24rem;
        max-width: 24rem;
        border-radius: 4px;
        border: none;
        background: #f6f9fc !important; }
      .container .inner-container .containers__right .ui.button {
        font-size: 0.8rem;
        color: #fff !important;
        background: #3897ec !important;
        margin-left: -12rem;
        margin-top: 1rem;
        width: 134.7px;
        height: 38.2px;
        border-radius: 27px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16); }
