.sign-up-container {
  width: 100%; }
  .sign-up-container .inner-container {
    width: 795.7px;
    height: 422.2px;
    background-color: #ffffff;
    border: solid 1px #f5f5f5;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 6rem; }
    .sign-up-container .inner-container .ui.steps {
      width: 100%;
      border: none;
      border-bottom: 1px solid #f5f5f594;
      border-radius: 0; }
      .sign-up-container .inner-container .ui.steps .step {
        border: none; }
        .sign-up-container .inner-container .ui.steps .step::after {
          content: none; }
      .sign-up-container .inner-container .ui.steps .step.active {
        background-color: #3897ec;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0; }
        .sign-up-container .inner-container .ui.steps .step.active .description {
          color: #fff; }
    .sign-up-container .inner-container .ui.attached.segment {
      border: none;
      display: flex;
      flex-direction: column;
      padding-left: 1.5rem;
      padding-top: 0; }
      .sign-up-container .inner-container .ui.attached.segment .header-info {
        width: 65%;
        font-size: 0.9rem;
        font-weight: bold;
        color: #3897ec;
        position: relative; }
        .sign-up-container .inner-container .ui.attached.segment .header-info .title {
          bottom: 0;
          position: absolute; }
        .sign-up-container .inner-container .ui.attached.segment .header-info .ui.button {
          font-size: 13px;
          float: right;
          background-color: #f1f3f4;
          padding: 0.8rem;
          width: 94.2px; }
      .sign-up-container .inner-container .ui.attached.segment .personal-info {
        display: flex;
        width: 50%;
        justify-content: space-between;
        margin-top: 1.3rem; }
        .sign-up-container .inner-container .ui.attached.segment .personal-info span {
          color: #6f6e6e;
          font-size: 0.8rem;
          font-weight: bold;
          margin-bottom: 0.5rem; }
        .sign-up-container .inner-container .ui.attached.segment .personal-info h5 {
          color: #444444;
          font-weight: bold;
          font-size: 0.9rem;
          margin-top: 0.4rem; }
      .sign-up-container .inner-container .ui.attached.segment .doc-specialty {
        margin-top: 1.5rem;
        width: 50%; }
        .sign-up-container .inner-container .ui.attached.segment .doc-specialty span {
          color: #6f6e6e;
          font-size: 0.8rem;
          font-weight: bold;
          margin-bottom: 0.5rem; }
        .sign-up-container .inner-container .ui.attached.segment .doc-specialty h5 {
          color: #444444;
          font-weight: bold;
          font-size: 0.9rem;
          margin-top: 0.4rem; }
      .sign-up-container .inner-container .ui.attached.segment .ui.divider {
        width: 65%;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem; }
      .sign-up-container .inner-container .ui.attached.segment .medical-license-box {
        width: 65%;
        font-size: 0.9rem;
        font-weight: bold;
        color: #3897ec;
        display: flex;
        flex-direction: column; }
        .sign-up-container .inner-container .ui.attached.segment .medical-license-box h5 {
          color: #444444;
          font-weight: bold;
          font-size: 0.9rem;
          margin-top: 0.4rem; }
        .sign-up-container .inner-container .ui.attached.segment .medical-license-box .ui.button {
          width: 125.3px;
          height: 36.7px;
          border-radius: 4px;
          background-color: #3897ec;
          border: solid 1px #f1f3f4;
          color: #fff;
          font-size: 12px;
          margin-top: 1.5rem; }
  .sign-up-container .btn {
    width: 795.7px;
    margin: 0 auto;
    margin-top: 1.5rem; }
    .sign-up-container .btn .ui.button {
      float: right;
      width: 125.3px;
      height: 36.7px;
      border-radius: 4px;
      background-color: #3897ec;
      border: solid 1px #f1f3f4;
      color: #fff; }
