.sign-up-container {
  width: 100%; }
  .sign-up-container .inner-container {
    width: 795.7px;
    height: 422.2px;
    background-color: #ffffff;
    border: solid 1px #f5f5f5;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 6rem; }
    .sign-up-container .inner-container .ui.steps {
      width: 100%;
      border: none;
      border-bottom: 1px solid #f5f5f594;
      border-radius: 0; }
      .sign-up-container .inner-container .ui.steps .step {
        border: none; }
        .sign-up-container .inner-container .ui.steps .step::after {
          content: none; }
      .sign-up-container .inner-container .ui.steps .step.active {
        background-color: #3897ec;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0; }
        .sign-up-container .inner-container .ui.steps .step.active .description {
          color: #fff; }
    .sign-up-container .inner-container .ui.attached.segment {
      border: none;
      display: flex;
      flex-direction: column;
      padding-left: 1.5rem;
      padding-top: 0; }
      .sign-up-container .inner-container .ui.attached.segment .header-info {
        width: 65%;
        font-size: 0.9rem;
        font-weight: bold;
        color: #3897ec;
        position: relative; }
        .sign-up-container .inner-container .ui.attached.segment .header-info .title {
          bottom: 0;
          position: absolute; }
        .sign-up-container .inner-container .ui.attached.segment .header-info .ui.button {
          font-size: 13px;
          float: right;
          background-color: #f1f3f4;
          padding: 0.8rem;
          width: 94.2px; }
      .sign-up-container .inner-container .ui.attached.segment .personal-info {
        display: flex;
        width: 50%;
        justify-content: space-between;
        margin-top: 1.3rem; }
        .sign-up-container .inner-container .ui.attached.segment .personal-info span {
          color: #6f6e6e;
          font-size: 0.8rem;
          font-weight: bold;
          margin-bottom: 0.5rem; }
        .sign-up-container .inner-container .ui.attached.segment .personal-info h5 {
          color: #444444;
          font-weight: bold;
          font-size: 0.9rem;
          margin-top: 0.4rem; }
      .sign-up-container .inner-container .ui.attached.segment .doc-specialty {
        margin-top: 1.5rem;
        width: 50%; }
        .sign-up-container .inner-container .ui.attached.segment .doc-specialty span {
          color: #6f6e6e;
          font-size: 0.8rem;
          font-weight: bold;
          margin-bottom: 0.5rem; }
        .sign-up-container .inner-container .ui.attached.segment .doc-specialty h5 {
          color: #444444;
          font-weight: bold;
          font-size: 0.9rem;
          margin-top: 0.4rem; }
      .sign-up-container .inner-container .ui.attached.segment .ui.divider {
        width: 65%;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem; }
      .sign-up-container .inner-container .ui.attached.segment .medical-license-box {
        width: 65%;
        font-size: 0.9rem;
        font-weight: bold;
        color: #3897ec;
        display: flex;
        flex-direction: column; }
        .sign-up-container .inner-container .ui.attached.segment .medical-license-box h5 {
          color: #444444;
          font-weight: bold;
          font-size: 0.9rem;
          margin-top: 0.4rem; }
        .sign-up-container .inner-container .ui.attached.segment .medical-license-box .ui.button {
          width: 125.3px;
          height: 36.7px;
          border-radius: 4px;
          background-color: #3897ec;
          border: solid 1px #f1f3f4;
          color: #fff;
          font-size: 12px;
          margin-top: 1.5rem; }
    .sign-up-container .inner-container .additional-details {
      display: flex;
      flex-direction: column; }
      .sign-up-container .inner-container .additional-details .additional-header {
        display: flex;
        flex-direction: row;
        margin-top: 1rem; }
        .sign-up-container .inner-container .additional-details .additional-header img {
          height: 8rem;
          cursor: pointer; }
        .sign-up-container .inner-container .additional-details .additional-header .user-title {
          margin-left: 1rem;
          text-align: left;
          align-items: center;
          padding-top: 0.6rem; }
          .sign-up-container .inner-container .additional-details .additional-header .user-title h2 {
            color: #444444;
            font-family: Lato;
            font-size: 17px;
            text-transform: capitalize;
            font-weight: 400; }
          .sign-up-container .inner-container .additional-details .additional-header .user-title span {
            color: rgba(68, 68, 68, 0.8);
            font-family: Lato;
            font-size: 14px;
            font-weight: bold; }
          .sign-up-container .inner-container .additional-details .additional-header .user-title h5 {
            color: rgba(68, 68, 68, 0.8);
            font-weight: bold;
            font-size: 0.9rem;
            margin-top: 1.4rem; }
        .sign-up-container .inner-container .additional-details .additional-header .additinal-info {
          display: flex;
          flex-direction: column;
          margin-left: auto; }
          .sign-up-container .inner-container .additional-details .additional-header .additinal-info .ui.input {
            margin-top: 1rem;
            width: 340.9px;
            height: 41px;
            border-radius: 4px;
            margin-right: 0.5rem; }
            .sign-up-container .inner-container .additional-details .additional-header .additinal-info .ui.input > input {
              background-color: #f1f3f4;
              border: none; }
              .sign-up-container .inner-container .additional-details .additional-header .additinal-info .ui.input > input::placeholder {
                color: #3897ec; }
      .sign-up-container .inner-container .additional-details .ui.divider {
        width: 100% !important;
        margin-top: 3rem !important;
        margin-bottom: 1.5rem; }
      .sign-up-container .inner-container .additional-details .education-box {
        font-size: 1rem;
        font-weight: bold;
        color: #3897ec;
        display: flex;
        flex-direction: column; }
        .sign-up-container .inner-container .additional-details .education-box .ui.input {
          margin-top: 1rem;
          width: 340.9px;
          height: 41px;
          border-radius: 4px; }
          .sign-up-container .inner-container .additional-details .education-box .ui.input > input {
            background-color: #f1f3f4;
            border: none; }
            .sign-up-container .inner-container .additional-details .education-box .ui.input > input::placeholder {
              color: #3897ec; }
        .sign-up-container .inner-container .additional-details .education-box .input-container {
          display: flex;
          flex-direction: row;
          justify-content: space-between; }
          .sign-up-container .inner-container .additional-details .education-box .input-container .ui.input {
            margin-top: 1rem;
            width: 340.9px;
            height: 41px;
            border-radius: 4px;
            margin-right: 0.5rem; }
            .sign-up-container .inner-container .additional-details .education-box .input-container .ui.input > input {
              background-color: #f1f3f4;
              border: none; }
              .sign-up-container .inner-container .additional-details .education-box .input-container .ui.input > input::placeholder {
                color: #3897ec; }
  .sign-up-container .btn {
    width: 795.7px;
    margin: 0 auto;
    margin-top: 1.5rem; }
    .sign-up-container .btn .ui.button {
      float: right;
      width: 125.3px;
      height: 36.7px;
      border-radius: 4px;
      background-color: #3897ec;
      border: solid 1px #f1f3f4;
      color: #fff; }
