.App {
  width: 65vw;
  margin: auto; }
  @media (max-width: 1680px) {
    .App {
      width: 70%; } }
  @media (max-width: 1280px) {
    .App {
      width: 94%; } }
  @media (max-width: 960px) {
    .App {
      width: 94%; } }
  @media (max-width: 1280px) {
    .App {
      width: 94%; } }
